{% extends "base.html" %}

{% block title %}
Editar Livro
{% endblock %}

{% block conteudo %}

<h1>Editar Livro</h1>

<h2>Você está editando {{ livro.titulo }}</h2>

<form action="{{ url_for('livros.editar', id=id_livro) }}" method="post">
    <label for="nome">Título</label>
    <input name="titulo" type="text" value="{{ livro.titulo }}">
    <label for="nome">Autor</label>
    <input name="autor" type="text" value="{{ livro.autor }}">
    <label for="nome">Ano</label>
    <input name="ano" type="number" value="{{ livro.ano }}">
    <label for="nome">Gênero</label>
    <input name="genero" type="text" value="{{ livro.genero }}">
    <button type="submit">Enviar</button>    
</form>

{% endblock %}